# Pandas

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
d

{'a': 10, 'b': 20, 'c': 30}

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
 pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','URRS','Japan'])
ser2 = pd.Series([3,1,2,6],['USA','Germany','Italy','Japan'])
ser1

USA        1
Germany    2
URRS       3
Japan      4
dtype: int64

In [15]:
ser1['USA']

1

In [16]:
ser3 = pd.Series(data=labels)

In [17]:
ser3

0    a
1    b
2    c
dtype: object

In [19]:
ser3[0]

'a'

In [22]:
ser1 + ser2

Germany     3.0
Italy       NaN
Japan      10.0
URRS        NaN
USA         4.0
dtype: float64