# A Crash Course in Python

## Whispace Formating

In [1]:
long_winded_computation = (1+2+3+4+5+6+7+8+9+10+
                          13+14+15+16+17+18+19+20)
long_winded_computation

187

In [2]:
list_of_list = [[1,2,3],[4,5,6],[7,8,9]]
easier_to_read_list_of_lists = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
list_of_list
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
two_plus_three = 2 + \
3
two_plus_three

5

In [4]:
for i in [1,2,3,4,5]:
    # Notice the blank line
    print(i)

1
2
3
4
5

## Functions

In [5]:
def double(x):
    return x * 2
double(3)

6

In [6]:
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
x

2

In [7]:
y = apply_to_one(lambda x: x + 4)
y

5

In [8]:
another_double = lambda x: x * 2

def another_double(x):
    return x * 2

In [9]:
def my_print(message = "My default message"):
    print(message)
    
my_print("hello")
my_print()

hello
My default message

In [10]:
def full_name(first = "What's his name", last = "Something"):
    return first + " " + last

full_name("Joel","Grus")
full_name("Joel")
full_name(last="Grus")

"What's his name Grus"

## Strings

In [11]:
single_quoted_string = 'data science'
souble_quoted_string = "data science"

In [12]:
tab_string = r"\t"
len(tab_string)

2

In [13]:
not_tab_string = r"\t"
len(not_tab_string)

2

In [14]:
first_name = "Joel"
last_name = "Grus"
full_name = "{0} {1}".format(first_name, last_name)
full_name

'Joel Grus'

In [15]:
full_name2 = f"{first_name} {last_name}"
full_name2

'Joel Grus'

## Exceptions

In [16]:
try: 
    print(0/0)
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

## List

In [17]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
every_trird = x[::3]
five_to_three = x[5:2:-1]
every_trird

[0, 3, 6, 9]

In [18]:
five_to_three

[5, 4, 3]

In [19]:
1 in [1,3,4]

True

In [20]:
x = [1,2,3]
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

In [21]:
x,y = [1,2]
_, y = [1,2]
y

2

## Tuples
Tuples are inmutable cousins

In [22]:
def sum_and_product(x,y):
    return (x,y), (x * y)

sp = sum_and_product(2,3)
s,p = sum_and_product(5,10)

sp

((2, 3), 6)

## Dictionaries

In [23]:
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel": 80, "Tim": 95}

In [24]:
joels_grade = grades["Joel"]
joels_grade

80

In [25]:
try:
    kate_grades = grades["Kate"]
except KeyError:
    print("No grades for Kate")

No grades for Kate

In [26]:
joel_has_grade = "Joel" in grades
joel_has_grade

True

In [27]:
joels_grade = grades.get("Joel", 0)   # equals 80
kates_grade = grades.get("Kate", 4)   # equals 0
no_ones_grade = grades.get("No One")  # default is None

In [28]:
joels_grade

80

In [29]:
kates_grade

4

In [30]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3

In [31]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [32]:
tweet_keys = tweet.keys()
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [33]:
tweet_values = tweet.values()
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [34]:
tweet_items = tweet.items()
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [35]:
"user" in tweet_keys
# Work it, but not the better way

True

In [36]:
"user" in tweet

True

In [37]:
"joelgrus" in tweet_values
# Slow but the only way to check

True

## defaultdict

In [38]:
from collections import defaultdict

dd_list = defaultdict(list)
dd_list[2].append(1)

dd_list

defaultdict(list, {2: [1]})

In [39]:
dd_dict = defaultdict(dict)
dd_dict["Joel"]["City"] = "Seattle"
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [40]:
dd_list = defaultdict(lambda: [0,0])
dd_list[2][1] = 1

dd_list

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

## Counters
Tecnicamente es un defaultdict(int)

In [41]:
from collections import Counter
c = Counter([0,1,2,0,0,2,1,3,3,3,3,3])
c

Counter({0: 3, 1: 2, 2: 2, 3: 5})

## Sets

In [42]:
primes_below_10 = {2,3,5,7}

In [43]:
s = set()
s.add(1)
s.add(2)
s.add(2)
s

{1, 2}

In [44]:
y = 2 in s
y

True

## Sorting

In [45]:
x = [4,1,2,3,5,7,6]
y = sorted(x)
x.sort()
x

[1, 2, 3, 4, 5, 6, 7]

In [46]:
x = sorted([-5,-6,1,-4,1,2,3,4,7], key=abs,reverse=True)
x

[7, -6, -5, -4, 4, 3, 2, 1, 1]

## List Comprehensions

In [48]:
even_numbers = [x for x in range(5) if x % 2 == 0]
even_numbers

[0, 2, 4]

In [49]:
squares = [x * x for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [50]:
even_squares = [x * x for x in range(5) if x % 2 == 0]
even_squares

[0, 4, 16]

In [53]:
square_dict = {x: x * x for x in range(5) }
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [55]:
square_set = { x * x for x in [1, -1]}
square_set

{1}

In [58]:
zeros = [0 for _ in even_numbers]
zeros

[0, 0, 0]

In [61]:
pairs = [(x,y)
        for x in range(5)
        for y in range(5)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [63]:
increasing_pairs = [(x,y)
                   for x in range(10)
                   for y in range(x+1,10)]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

## Automated Testing and assert

In [67]:
assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 should be equal 2 but didn't"

In [69]:
def smallest_item(xs):
    return min(xs)

assert smallest_item([10,20,5,40]) == 5
assert smallest_item([1,0,-1,2]) == -1

In [70]:
def smallest_item(xs):
    assert xs, "emply list has no smallest item"
    return min(xs)

## Object-Oriented Programing

In [76]:
class CountingClicker:
    def __init__(self, count = 0):
        self.count = count
    def __repr__(self):
        return f"CountingClicker(count={self.count})"
    
    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times
        
    def read(self):
        return self.count

    def reset(self):
        self.count = 0
    
    
click1 = CountingClicker()
click2 = CountingClicker(100)
click3 = CountingClicker(count=100)

In [78]:
clicker = CountingClicker()
assert clicker.read() == 0, "Clicker should start with 0"
clicker.click()
clicker.click()
assert clicker.read() == 2

## Iterables and Generatos

In [79]:
def generate_range(n):
    i = 0
    while i < n:
        yield i # Every call to yield produces a value of the generator
        i += 1

In [80]:
for i in generate_range(10):
    print(f"i : {i}")

i : 0
i : 1
i : 2
i : 3
i : 4
i : 5
i : 6
i : 7
i : 8
i : 9

In [84]:
def naturals_numbers():
    n = 1
    while True:
        yield n
        n += 1

evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)

data = naturals_numbers()
evens = (x for x in data if x % 2 == 0)
evens_squares = (x ** 2 for x in evens)
evens_squares_ending_in_sin = (x for x in evens_squares if x % 10 == 6)

In [85]:
names = ["Alice", "Bob", "Charlie", "Debbie"]

# not Pythonic
for i in range(len(names)):
    print(f"name {i} is {names[i]}")

# also not Pythonic
i = 0
for name in names:
    print(f"name {i} is {names[i]}")
    i += 1

# Pythonic
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie
name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie
name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

## Randomness

In [91]:
import random
random.seed(10)  # this ensures we get the same results every time

four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.5714025946899135,
 0.4288890546751146,
 0.5780913011344704,
 0.20609823213950174]

In [92]:
random.seed(10)         # set the seed to 10
print(random.random())  # 0.57140259469
random.seed(10)         # reset the seed to 10
print(random.random())  # 0.57140259469 again

0.5714025946899135
0.5714025946899135

In [94]:
random.randrange(10)

7

In [95]:
random.randrange(3,6)

5

In [97]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)

[7, 9, 5, 8, 1, 3, 10, 4, 2, 6]

In [101]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])
my_best_friend

'Charlie'

In [105]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)
winning_numbers

[15, 8, 12, 19, 34, 23]

In [108]:
four_with_replacement = [random.choice(range(10)) for _ in range(10)]
print(four_with_replacement)

[5, 8, 2, 3, 6, 3, 0, 0, 7, 4]

In [113]:
import re

re_examples = [                        # All of these are True, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it.
    3 == len(re.split("[ab]", "carbs")),   #  Split on a or b to ['c','r','s'].
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  Replace digits with dashes.
    ]

assert all(re_examples), "all the regex examples should be True"

## Zip and Argument Unpacking

In [1]:
list1 = ['a','b','c']
list2 = [1,2,3]
[pair for pair in zip(list1, list2)]

[('a', 1), ('b', 2), ('c', 3)]

In [5]:
pairs = [('a',1),('b',2),('c',3)]
letters, numbers = zip(*pairs)
numbers

(1, 2, 3)

In [6]:
def add(a,b): return a + b
add(1,2)
try:
    add([1,2])
except TypeError:
    print("Add expects two inputs")
add(*[1,2])

Add expects two inputs

3

## Args and Kwargs

In [7]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

def f1(x):
    return x + 1

g = doubler(f1)
assert g(3) == 8,  "(3 + 1) * 2 should equal 8"
assert g(-1) == 0, "(-1 + 1) * 2 should equal 0"

In [8]:
def f2(x, y):
    return x + y

g = doubler(f2)
try:
    g(1, 2)
except TypeError:
    print("as defined, g only takes one argument")

as defined, g only takes one argument

In [9]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

magic(1, 2, key="word", key2="word2")

# prints
#  unnamed args: (1, 2)
#  keyword args: {'key': 'word', 'key2': 'word2'}

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [10]:
def other_way_magic(x, y, z):
    return x + y + z

x_y_list = [1, 2]
z_dict = {"z": 3}
assert other_way_magic(*x_y_list, **z_dict) == 6, "1 + 2 + 3 should be 6"

In [11]:
def doubler_correct(f):
    """works no matter what kind of inputs f expects"""
    def g(*args, **kwargs):
        """whatever arguments g is supplied, pass them through to f"""
        return 2 * f(*args, **kwargs)
    return g

g = doubler_correct(f2)
assert g(1, 2) == 6, "doubler should work now"

## Type Annotations

In [12]:
def add(a, b):
    return a + b

assert add(10, 5) == 15,                  "+ is valid for numbers"
assert add([1, 2], [3]) == [1, 2, 3],     "+ is valid for lists"
assert add("hi ", "there") == "hi there", "+ is valid for strings"

try:
    add(10, "five")
except TypeError:
    print("cannot add an int to a string")

cannot add an int to a string

In [13]:
def add(a: int, b: int) -> int:
    return a + b

add(10, 5)           # you'd like this to be OK
add("hi ", "there")  # you'd like this to be not OK

'hi there'

### How to White Type Annotations

In [14]:
def total(xs: list) -> float:
    return sum(total)

In [15]:
from typing import List  # note capital L

def total(xs: List[float]) -> float:
    return sum(total)

In [16]:
from typing import Optional

values: List[int] = []
best_so_far: Optional[float] = None  # allowed to be either a float or None

In [17]:
# the type annotations in this snippet are all unnecessary
from typing import Dict, Iterable, Tuple

# keys are strings, values are ints
counts: Dict[str, int] = {'data': 1, 'science': 2}

# lists and generators are both iterable
if lazy:
    evens: Iterable[int] = (x for x in range(10) if x % 2 == 0)
else:
    evens = [0, 2, 4, 6, 8]

# tuples specify a type for each element
triple: Tuple[int, float, int] = (10, 2.3, 5)

NameError: name 'lazy' is not defined