# A Crash Course in Python

## Whispace Formating

In [1]:
long_winded_computation = (1+2+3+4+5+6+7+8+9+10+
                          13+14+15+16+17+18+19+20)
long_winded_computation

187

In [2]:
list_of_list = [[1,2,3],[4,5,6],[7,8,9]]
easier_to_read_list_of_lists = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
list_of_list
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
two_plus_three = 2 + \
3
two_plus_three

5

In [4]:
for i in [1,2,3,4,5]:
    # Notice the blank line
    print(i)

1
2
3
4
5

## Functions

In [5]:
def double(x):
    return x * 2
double(3)

6

In [6]:
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
x

2

In [7]:
y = apply_to_one(lambda x: x + 4)
y

5

In [8]:
another_double = lambda x: x * 2

def another_double(x):
    return x * 2

In [9]:
def my_print(message = "My default message"):
    print(message)
    
my_print("hello")
my_print()

hello
My default message

In [10]:
def full_name(first = "What's his name", last = "Something"):
    return first + " " + last

full_name("Joel","Grus")
full_name("Joel")
full_name(last="Grus")

"What's his name Grus"

## Strings

In [11]:
single_quoted_string = 'data science'
souble_quoted_string = "data science"

In [14]:
tab_string = r"\t"
len(tab_string)

2

In [13]:
not_tab_string = r"\t"
len(not_tab_string)

2

In [17]:
first_name = "Joel"
last_name = "Grus"
full_name = "{0} {1}".format(first_name, last_name)
full_name

'Joel Grus'

In [18]:
full_name2 = f"{first_name} {last_name}"
full_name2

'Joel Grus'

## Exceptions

In [20]:
try: 
    print(0/0)
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

## List

In [24]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
every_trird = x[::3]
five_to_three = x[5:2:-1]
every_trird

[0, 3, 6, 9]

In [23]:
five_to_three

[5, 4, 3]

In [25]:
1 in [1,3,4]

True

In [27]:
x = [1,2,3]
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

In [29]:
x,y = [1,2]
_, y = [1,2]
y

2

## Tuples
Tuples are inmutable cousins

In [32]:
def sum_and_product(x,y):
    return (x,y), (x * y)

sp = sum_and_product(2,3)
s,p = sum_and_product(5,10)

sp

((2, 3), 6)

## Dictionaries

In [33]:
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel": 80, "Tim": 95}

In [34]:
joels_grade = grades["Joel"]
joels_grade

80

In [35]:
try:
    kate_grades = grades["Kate"]
except KeyError:
    print("No grades for Kate")

No grades for Kate

In [37]:
joel_has_grade = "Joel" in grades
joel_has_grade

True

In [47]:
joels_grade = grades.get("Joel", 0)   # equals 80
kates_grade = grades.get("Kate", 4)   # equals 0
no_ones_grade = grades.get("No One")  # default is None

In [48]:
joels_grade

80

In [49]:
kates_grade

4

In [50]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3

In [51]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [52]:
tweet_keys = tweet.keys()
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [53]:
tweet_values = tweet.values()
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [54]:
tweet_items = tweet.items()
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [55]:
"user" in tweet_keys
# Work it, but not the better way

True

In [56]:
"user" in tweet

True

In [57]:
"joelgrus" in tweet_values
# Slow but the only way to check

True

## defaultdict

In [64]:
from collections import defaultdict

dd_list = defaultdict(list)
dd_list[2].append(1)

dd_list

defaultdict(list, {2: [1]})

In [65]:
dd_dict = defaultdict(dict)
dd_dict["Joel"]["City"] = "Seattle"
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [66]:
dd_list = defaultdict(lambda: [0,0])
dd_list[2][1] = 1

dd_list

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

## Counters
Tecnicamente es un defaultdict(int)

In [68]:
from collections import Counter
c = Counter([0,1,2,0,0,2,1,3,3,3,3,3])
c

Counter({0: 3, 1: 2, 2: 2, 3: 5})

## Sets

In [69]:
primes_below_10 = {2,3,5,7}

In [70]:
s = set()
s.add(1)
s.add(2)
s.add(2)
s

{1, 2}

In [71]:
y = 2 in s
y

True

## Sorting

In [72]:
x = [4,1,2,3,5,7,6]
y = sorted(x)
x.sort()
x

[1, 2, 3, 4, 5, 6, 7]

In [73]:
x = sorted([-5,-6,1,-4,1,2,3,4,7], key=abs,reverse=True)
x

[7, -6, -5, -4, 4, 3, 2, 1, 1]